<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661572306201-en3eud629relcjefd9nbfe0k0bvudg51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661572306201-en3eud629relcjefd9nbfe0k0bvudg51</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgMQopwQfBWPeEVoAJDQenJmLhM6uSow</string>
	<key>GCM_SENDER_ID</key>
	<string>661572306201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelioApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hotelio-f03d4</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelio-f03d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661572306201:ios:39b8fef2fb12c7a651f188</string>
</dict>
</plist>